h3 {
  background-color: white,
  // border: 1px solid #777;
}
.nav-tabs{
  display:inline-flex;
}
.nav-tabs li{
  margin-right: 10px;
  list-style-type:none;
}
.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}
/* tooltip link */

.tip {
	display: inline-block;
	cursor: pointer;
}

/* tooltip content */

.tooltip h2 {
	white-space: nowrap;
}

/* demo styles */

.container {
	padding-top: 150px;
}
.append {
	margin-left: 1em;
}
li {
	font-size: 18px;
	margin-bottom: 20px;
}
